<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis的配置 -->
<configuration>
	<!-- 指定 jdbc.properties属性文件的位置-->
	<properties resource="jdbc.properties"/>
	
	<!-- 取别名 -->
	<typeAliases>
		<!-- 
		Student类取别名，type:全类名,alias:别名
		<typeAlias type="com.edu.beans.Student" alias="Stu"/>
		 -->
		 <!-- 自动将类的简单 类名作为别名 -->
		 <package name="com.dream.vo"/>
	</typeAliases>
	
	<!-- 环境配置：environments可以包含多个environment，default指定当前 使用的环境为下面的 environment的id-->
	<environments default="development">
		<!-- 其中的一个环境配置，id是当前环境的id名称 -->
		<environment id="development">
			<!-- 当前使用的事务管理器为JDBC：使用Connection对象的commit()提交事务，使用rollback()回滚事务 -->
			<transactionManager type="JDBC" />
			<!-- 使用数据源 -->
			<dataSource type="POOLED">
				<!-- 连接数据库的四要素配置  -->
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 指定mapper映射文件 -->
	<mappers>
		<!-- 指定mapper映射文件的位置 -->
		<!-- 
		<mapper resource="com/edu/dao/mapper.xml" />
		 -->
		<!-- 指定mapper映射文件所在的包 -->
		<package name="com.dream.dao"></package>
<!--		<mapper resource="com/dream/dao/IBookDao.xml" />-->
	</mappers>
</configuration>